@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1f2937;
  box-sizing: border-box;
  background-color: #ECECEC;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url(assets/fonts/Inter-ExtraLight.ttf);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url(assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(assets/fonts/Inter-Bold.ttf);
}

/* Firefox */
.custom-scroll {
  scrollbar-width: none; 
}

/* Chrome, Edge, Safari */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
  display: none;
}

.custom-scroll:hover::-webkit-scrollbar {
  display: block;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.45);
}
